<div class="bgcat rounded">

	<div>
		<h2 class="my-4 text-center">Catégories</h2>
	</div>
	<div class="d-flex flex-row flex-wrap justify-content-evenly">
		{% for categorie in categories %}
			{% if categorie.sousCat == null %}
				<div class=" mb-5">
					<a href="{{ path('categorie', {slug: categorie.slug}) }}">
						<img class="img-fluid w-100 rounded-circle" src="{{asset(categorie.image)}}" alt="cat">
						<p class="text-center">{{categorie.nomination}}</p>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
