<div>
	<h2 class="my-4 text-center">Les incontournable</h2>
</div>
<div class="my-2">
	<button type="btn" class="btn btn-outline-primary ms-5 me-2 disabled">Consoles</button>
	<button type="btn" class="btn btn-outline-primary mx-2 disabled">Jeux</button>
	<button type="btn" class="btn btn-outline-primary mx-2 disabled">Accessoires</button>
</div>
<div class="virtual-container-child">
	<div class="virtual-wrap-slide">
		<div class="virtual-slide" id="firstvirtual">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		
		<div class="virtual-slide">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		<div class="virtual-slide">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		<div class="virtual-slide">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		<div class="virtual-slide">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		<div class="virtual-slide">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		<div class="virtual-slide">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		<div class="virtual-slide" id="lastvirtual">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		<div class="virtual-slide">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
		<div class="virtual-slide" id="lastvirtual">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-2.webp" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of
						                            the card's content.</p>
					<a href="#" class="btn btn-primary">price €</a>
				</div>
			</div>
		</div>
	</div>
	<button id="virtual-next">&#10095</button>
	<button id="virtual-prev">&#10094</button>
</div>
