<div class="d-flex justify-content-center border bg-info bg-gradient rounded py-5">
	<div class="row">
		<section class="col d-flex flex-row justify-content-center align-items-center">
			<i class="fa-solid fa-truck-fast text-light px-2 me-2 display-6"></i>
			<h5 class=" text-light">Livraison partout en France</h5>
		</section>
		<section class="col d-flex flex-row justify-content-center align-items-center">
			<i class="fa-solid fa-right-left text-light px-2 me-2 display-6"></i>
			<h5 class=" text-light">retour gratuit sous 30 jours</h5>
		</section>
		<section class="col d-flex flex-row justify-content-center align-items-center">
			<i class="fa-solid fa-wallet text-light px-2 me-2 display-6"></i>
			<h5 class=" text-light">Satisfait ou remboursé sous condition</h5>
		</section>
		<section class="col d-flex flex-row justify-content-center align-items-center">
			<i class="fa-solid fa-headset text-light px-2 me-2 display-6"></i>
			<h5 class=" text-light">contact 7/7 24/24</h5>
		</section>
	</div>
</div>
