<div>
    <h2 class="my-4 text-center">Avis Clients</h2>
</div>
<div class="bgcat my-3">
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="w-75 mx-auto d-flex flex-column flex-lg-row align-items-center justify-content-center">
					<img class="img-fluid img-thumbnail rounded-circle my-4" src="{{asset('assets/media/profil/profil_1.png')}}" alt="avatar">
					<i class="fa-solid fa-quote-left display-5 d-none d-lg-block text-light mx-3"></i>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi debitis quam accusamus blanditiis praesentium, numquam, quibusdam porro eaque tempore repellendus et commodi libero eum natus illo consequuntur suscipit voluptatem modi quis? Harum reprehenderit animi et odio, earum iste minus illo fugiat accusantium! Earum sit officia tempora blanditiis perspiciatis rem nemo.</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="w-75 mx-auto d-flex flex-column flex-lg-row align-items-center justify-content-center">
					<img class="img-fluid img-thumbnail rounded-circle my-4" src="{{asset('assets/media/profil/profil_2.png')}}" alt="avatar">
					<i class="fa-solid fa-quote-left display-5 d-none d-lg-block text-light mx-3"></i>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi debitis quam accusamus blanditiis praesentium, numquam, quibusdam porro eaque tempore repellendus et commodi libero eum natus illo consequuntur suscipit voluptatem modi quis? Harum reprehenderit animi et odio, earum iste minus illo fugiat accusantium! Earum sit officia tempora blanditiis perspiciatis rem nemo.</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="w-75 mx-auto d-flex flex-column flex-lg-row align-items-center justify-content-center">
					<img class="img-fluid img-thumbnail rounded-circle my-4" src="{{asset('assets/media/profil/profil_3.png')}}" alt="avatar">
					<i class="fa-solid fa-quote-left display-5 d-none d-lg-block text-light mx-3"></i>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi debitis quam accusamus blanditiis praesentium, numquam, quibusdam porro eaque tempore repellendus et commodi libero eum natus illo consequuntur suscipit voluptatem modi quis? Harum reprehenderit animi et odio, earum iste minus illo fugiat accusantium! Earum sit officia tempora blanditiis perspiciatis rem nemo.</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
